<div id='titleContainer' class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">AdminCode</a>
    </div>
    <!--<div id="navbar" class="collapse navbar-collapse">-->
    <!--/.nav-collapse -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="" ><i class="fa fa-google-plus-square fa-lg"></i></a></li>
            <li><a href="" ><i class="fa fa-facebook-square fa-lg"></i></a></li>
            <li id="loginBar" style="display: none"><a href="javascript:open_modal('login')" ;  >로그인</a></li>
            <li id="logoutBar" style="display: none"><a href="javascript:logout();" >로그아웃</a></li>
            <li id="regiBar" style="display: none"><a href="javascript:open_modal('signin')" >회원가입</a></li>
            <li><a href="inquiry.html">문의</a></li>
        </ul>
    </div>
</div>

