<tr>

<td style="border-top:none">
    <div><h4><a class="elli" href="question_view.html?board_seq={{BOARD_SEQ}}">{{TITLE}}</a></h4></div>
    <div><p class="elli">{{CONTENT}}</p></div>
    <div class="row">
        <div class="col-xs-12">
            <p class="pull-left" style="padding-top:10px;">
                <a href="tag_view.html" class="label label-default">jsp</a>
                <a href="#" class="label label-default">html</a>
                <a href="#" class="label label-default">oracle</a>
                <a href="#" class="label label-default">mssql</a>
            </p>
            <ul class="list-inline pull-right" style="padding-top:10px; font-size: smaller;">
                <li><a href="question_view.html" data-toggle="tooltip" data-placement="bottom" title="조회수"><i class="glyphicon glyphicon-hand-up"></i>&nbsp;500</a></li>
                <li><a href="question_view.html" data-toggle="tooltip" data-placement="bottom" title="등록일"><i class="glyphicon glyphicon-time"></i>&nbsp;{{REG_DATE}} </a></li>
                <li><a href="question_view.html" data-toggle="tooltip" data-placement="bottom" title="답변수"><i class="glyphicon glyphicon-comment"></i>&nbsp;2개답변</a></li>
                <li><a href="profile.html" data-toggle="tooltip" data-placement="bottom" title="작성자"><i class="glyphicon glyphicon-user"></i>&nbsp;jyheo</a></li>

            </ul>

    </div>
    </div>
</td>
    </tr>