<p><b>{{TITLE}}</b></p>
<div class="well-profile">
   {{CONTENT}}
</div>
<div><span class="btn btn-default btn-sm" onclick="sendLike('10')"><i class="fa fa-thumbs-o-up"></i> <span id="like_cnt">{{LIKE_CNT}}</span></span>
    <span class="btn btn-default btn-sm" onclick="sendLike('20')"><i class="fa fa-thumbs-o-down"></i> <span id="hate_cnt">{{HATE_CNT}}</span> </span>
    <button type="button" id='title_reply_btn' class="btn btn-info btn-sm  pull-right" data-toggle="collapse" data-target="#question-repl" aria-expanded="false" aria-controls="reply"><i class="fa fa-pencil-square-o"></i>&nbsp;댓글쓰기</button>
</div><br>